@import "buttons.css";
@import "forms.css";
@import "layout.css";
@import "timeline.css";
@import "directives/axisnameeditor.css";
@import "directives/starlinechart.css";
@import "directives/eventstimeline.css";
@import "directives/timeline.css";

.input-scale, .input-expectedvalue {
  text-align: right;
  width: 50px;
}

.nav-tabs li {
  cursor: pointer;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
