@import "buttons.css";
@import "forms.css";
@import "layout.css";
@import "directives/axisnameeditor.css";

.input-scale, .input-expectedvalue {
  text-align: right;
  width: 50px;
}


body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
