<div>
  <div class="">
    <div class="inline">
      Campaign {{name}}
    </div>
    <div class="inline">
      <i class="glyphicon glyphicon-pencil"></i>
      <i class="glyphicon glyphicon-tags"></i>
    </div>
    <div class="inline pull-right">
      <button type="button" class="btn btn-default">Save Draft</button>
      <button type="button" class="btn btn-default">Reset</button>
      <button type="button" class="btn btn-default">Discard</button>
    </div>
  </div>
  <tabset>
    <tab>
      <tab-heading>Visualisation</tab-heading>
      <div data-ng-controller="VisualisationController" data-ng-include="'views/visualisation.html'"></div>
    </tab>
    <tab>
      <tab-heading>Events</tab-heading>
      <div data-ng-controller="EventsController" data-ng-include="'views/events.html'"></div>
    </tab>
    <tab>
      <tab-heading>Render</tab-heading>
      <div data-ng-include="'views/render.html'"></div>
    </tab>
  </tabset>
</div>
