<div class="container-fluid">
  <h2>Events</h2>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Custom Date</div>
      <div class="panel-body">
        <div class="form-group" style="max-width:200px">
          <div class="input-group date" data-datetimepicker data-on-select-date="onSelectDate">
            <input type="text" class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div data-timeline events="events"></div> -->
  <div data-events-timeline events="events">
    <div class="event-details">
      <ul class="event-parameters">
        <li data-ng-repeat="axis in event.axises" class="event-parameter">
          <span class="name">{{$index}}. {{axis.name}}</span>
          <input class="value" type="text" data-ng-model="axis.value" />
        </li>
      </ul>
    </div>
  </div>
</div>
