<div data-ng-controller="RenderController">
  Render

  <div data-starlinechart data-axises="chartData"></div>

  <div data-events-timeline data-events="events" data-visualisation="visualisation" data-selected-event="selectedEvent">
    <div data-ng-controller="EventDetailsController" class="event-details">
      <ul class="event-parameters clearfix">
        <li data-ng-repeat="value in event.values" class="event-parameter">
          <span class="name">{{$index}}. {{value.axisName}}</span>
          <input class="value" type="number" data-ng-model="value.value" data-integer />
        </li>
      </ul>
    </div>
  </div>
</div>
