<div class="panel panel-default">
  <div class="panel-heading">{{visCfg.name}}</div>
  <div class="panel-body">
    <div>Common options</div>
    <div class="row">
      <div class="col-md-6">
        <div class="checkbox">
          <label>
            <input type="checkbox" data-ng-model="visCfg.graduatedScale">graduated scale
          </label>
        </div>
      </div>
      <div class="col-md-6 clearfix">
        <button type="button" class="btn btn-default pull-right" data-ng-click="addAxisLine()">Add Axis line</button>
      </div>
    </div>
  </div>
</div>
