.events-timeline-detail {
  position: relative;
  margin-top: 5px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;

  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.events-timeline-detail > .arrow,
.events-timeline-detail > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.events-timeline-detail > .arrow {
  border-width: 11px;

  top: -11px;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.events-timeline-detail > .arrow:after {
  border-width: 10px;

  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}

.events-timeline-detail > .events-timeline-detail-content {
  padding: 5px;
}

.events-timeline-detail .event-parameter .ng-invalid {
  color: #a94442;
}
